P  {
	font-size : small;
}

H1  {
	font-size : large;
	font-weight : bold;
	text-decoration : underline;
}

H2  {
	font-size : medium;
	font-weight : normal;
	text-decoration : underline;
}

H3  {
	font-size : small;
	text-decoration : underline;
}

A  {
	font-weight : bold;
	font-size : small;
}

A:Visited  {
	font-weight : bold;
	font-size : small;
}

A:Active  {
	font-weight : bold;
	font-size : small;
}

A:Hover  {
	font-weight : bold;
	font-size : small;
}

BODY  {
	font-size : x-large;
}

TD  {
	font-size : small;
}

PRE  {
	font-size : small;
	font-family : Lucida Console;
}

li  {
	font-size : small;
}

H4  {
	font-size : small;
	font-style : italic;
	font-weight : bold;
}

